#BD{
    margin-top: 50px;
    width: 72%;
}

#DivOne{
    width: 100%;
    padding-top: 40px;
}

#BRes{
    margin-bottom: 40px !important;
}

#DivTwo{
    display: none;
}

#PEnd{
    margin-top: 270px !important;
    margin-bottom: 20px !important;
}